<% content_for :content do %>
  <figure class="image is-128x128">
    <%= gravatar_for(@current_user, size: 128) %>
  </figure>
  <h1 class="title"><%= @current_user.username %></h1>
  <%= form_for @profile do |form| %>
    <%= form.label :gender, class: 'label' %>
    <p class="control">
      <% Profile.genders.keys.each do |gender| %>
        <%= form.radio_button(:gender, gender, class: 'radio') %>
        <%= form.label("gender_#{gender}", Profile.human_attribute_name(gender), class: 'radio') %>
      <% end %>
    </p>
    <%= form.label :social_tolerance, class: 'label' %>
    <p class="control">
      <% Profile.social_tolerances.keys.each do |social_tolerance| %>
        <%= form.radio_button(:social_tolerance, social_tolerance, class: 'radio') %>
        <%= form.label("social_tolerance_#{social_tolerance}", Profile.human_attribute_name(social_tolerance), class: 'radio') %>
      <% end %>
    </p>

    <%= form.label :time_zone, class: 'label' %>
    <p class="control">
      <%= form.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, class: 'input') %>
    </p>

    <p class="control">
      <%= form.submit t(".save"), class: "button is-primary"  %>
    </p>
  <% end %>
<% end %>

<%= render template: "layouts/administration" %>
