<div class="row">
  <div class="columns text-center">
    <%= gravatar_for(@current_user, size: 128) %>
    <h1><%= @current_user.username %></h1>
    <%= form_for(@profile) do |f| %>
      <fieldset>
        <legend><%= Profile.human_attribute_name(:gender) %></legend>
        <% Profile.genders.keys.each do |gender| %>
          <%= f.radio_button(:gender, gender) %>
          <%= f.label("gender_#{gender}", Profile.human_attribute_name(gender)) %>
        <% end %>
      </fieldset>
      <fieldset>
        <legend><%= Profile.human_attribute_name(:social_tolerance) %></legend>
        <% Profile.social_tolerances.keys.each do |social_tolerance| %>
          <%= f.radio_button(:social_tolerance, social_tolerance) %>
          <%= f.label("social_tolerance_#{social_tolerance}", Profile.human_attribute_name(social_tolerance)) %>
        <% end %>
      </fieldset>
      <fieldset>
        <legend><%= Profile.human_attribute_name(:time_zone) %></legend>
        <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones) %>
      </fieldset>
      <fieldset>
        <legend><%= Profile.human_attribute_name(:home_gym) %></legend>
        <p id="home-gym-name"><%= @profile.gym.try(:name) %></p>
        <%= f.hidden_field(:gym_id) %>
        <a data-open="homeGymModal"><%= t('.choose_home_gym') %></a>
      </fieldset>
      <%= f.submit t(".save"), class: "button"  %>
    <% end %>
  </div>
</div>

<%= render partial: "home_gym_modal", locals: { id: 'homeGymModal' } %>

<script type="text/javascript" charset="utf-8">
window.currentView = new Stronglifters.HomeGym({
  el: 'gym-search',
  data: function() {
    return { city: '<%= current_session.location.try(:city) %>' };
  }
})
</script>
