<div class="row">
  <div class="small-12 medium-4 columns small-text-center medium-text-left">
    <%= link_to profile_path(@user), class: "th [radius] gender_#{@profile.gender} social_#{@profile.social_tolerance}" do %>
      <%= gravatar_for(@user, size: 128) %>
    <% end %>
    <h1><%= link_to @user.username, profile_path(@user) %></h1>
    <% if @user.training_sessions.any? %>
      <p><%= t('.workouts_completed', count: @user.training_sessions.count, first_session: l(@user.training_sessions.order(occurred_at: :asc).first.occurred_at, format: :long)) %></p>
    <% else %>
      <p><%= t('.no_workouts_completed') %></p>
    <% end %>
    <p><%= @user.time_zone %></p>
  </div>

  <div class="small-12 medium-8 columns small-text-center medium-text-left">
    <h2><%= t('.personal_records') %></h2>
    <table role="grid">
      <thead>
        <tr>
          <th><%= t('.exercise_header') %></th>
          <th><%= t('.maximum_achieved') %></th>
        </tr>
      </thead>
      <tbody>
        <% @program.exercises.uniq.each do |exercise| %>
          <tr>
            <td> <strong><%= exercise.name %></strong></td><td><%= @user.personal_record_for(exercise) %> lbs</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div>
  <div class="small-12 columns small-text-center medium-text-left">
    <% @program.exercises.uniq.each do |exercise| %>
      <%= render @user.history_for(exercise) %>
    <% end %>
  </div>
</div>
