<div class="row">
  <div class="shrink columns">
    <p class="text-center">
      <%= link_to profile_path(@user) do %>
        <%= gravatar_for(@user, size: 128) %>
      <% end %>
    </p>
    <h1 class="text-center"><%= link_to @user.username, profile_path(@user) %></h1>
    <% if @user.workouts.any? %>
      <p class="text-center">
        <%= t('.workouts_completed', count: @user.workouts.count, first_session: l(@user.workouts.order(occurred_at: :asc).first.occurred_at, format: :long)) %>
      </p>
    <% else %>
      <p class="text-center"><%= t('.no_workouts_completed') %></p>
    <% end %>
    <% if @profile.gym.present? %>
      <p class="text-center"><%= link_to @profile.gym.name, @profile.gym %></p>
    <% end %>
    <p class="text-center"><%= @user.time_zone %></p>
  </div>

  <div class="columns">
    <h2><%= t('.personal_records') %></h2>
    <table role="grid">
      <thead>
        <tr>
          <th><%= t('.exercise_header') %></th>
          <th><%= t('.maximum_achieved') %></th>
        </tr>
      </thead>
      <tbody>
        <% @program.each_exercise do |exercise| %>
          <tr>
            <td> <strong><%= exercise.name %></strong></td><td><%= @user.personal_record_for(exercise) %> lbs</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="columns">
    <% @program.each_exercise do |exercise| %>
      <%= render @user.history_for(exercise) %>
    <% end %>
  </div>
</div>
