<div class="container" data-autovue="workout-view">
  <div class="columns content is-small has-text-centered" v-for="exercise in workout.exercises">
    <div class="column is-12">
      <h2 class="subtitle">{{ exercise.name }}</h2>
        <div class="level">
          <div class="level-item has-text-centered" v-for="set in exercise.sets">
            <exercise-set v-bind:set="set" inline-template>
            <div>
              <p class="heading">
                {{ set.target_repetitions }} x {{ set.target_weight }}
              </p>
                <button v-on:click="updateProgress" class="button is-large">
                  {{ set.actual_repetitions }}
                </button>
              <p> {{ set.weight_per_side }} &nbsp; </p>
            </div>
            </exercise-set>
          </div>
        </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-6 is-offset-3">
      <%= link_to t(:done), workouts_path, class: 'button is-large is-fullwidth is-primary' %>
    </div>
  </div>

<% @workout.exercises.primary.order_by_name.distinct.find_each do |exercise| %>
  <div class="columns content is-small has-text-centered">
    <div class="column is-12">
      <h2 class="subtitle"><%= exercise.name %></h2>
        <div class="level">
        <% @workout.sets.for(exercise).each do |set| %>
          <div class="level-item has-text-centered">
            <div data-autoview-name="exercise-set-view" data-model="set" data-model-attributes="<%= set.to_json %>">
              <p class="heading">
                <%= set.target_repetitions %> x <%= set.target_weight %>
              </p>
              <button class="button is-large <%= set.success? ? "is-success" : set.started? ? "is-danger" : '' %>">
                <%= set.actual_repetitions %>
              </button>
              <p> <%= set.weight_per_side %> &nbsp; </p>
            </div>
          </div>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>

<% content_for :javascript do %>
new Stronglifters.Autovue().execute();
new Stronglifters.AutoviewSetup().execute();
<% end %>
