<% if @workouts.any? %>
  <div class="row">
    <div class="large-12 columns">
      <% if feature_enabled?(:csv_import) %>
        <p class="text-center">
          <a href="#" data-reveal-id="sendToStrongLiftsModal">
            <%= User.human_attribute_name(:import_address) %>
          </a>
        </p>
      <% end %>
      <ul class="accordion" data-accordion>
        <% @workouts.each.with_index do |workout, index| %>
        <li class="accordion-item <%= index == 0 ? "is-active" : "" %>" data-accordion-item>
          <a href="#" class="accordion-title">
            <%= workout.name %> - <strong><%= I18n.l workout.occurred_at, format: :short %></strong> - <%= workout.body_weight.to(:lbs) %> lbs
          </a>
          <div class="accordion-content" data-tab-content>
            <% workout.each_exercise do |exercise| %>
              <p class="text-center">
              <strong><%= exercise.name %></strong>
              <%= workout.progress_for(exercise).status %>
              </p>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= paginate @workouts, remote: false %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="large-12 columns">
      <% if feature_enabled?(:csv_import) %>
      <p class="text-center"> <a href="#" data-reveal-id="sendToStrongLiftsModal"><%= User.human_attribute_name(:import_address) %></a> </p>
      <% end %>
      <%= random_video %>
    </div>
  </div>
<% end %>

<%= render partial: 'import_address_modal' %>
