<% if @workouts.any? %>
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <% exercises = ["Squat", "Bench Press", "Barbell Row", "Overhead Press", "Deadlift"]  %>
        <div class="tabs">
          <ul>
            <li class="<%= 'is-active' if @exercise.nil? %>">
              <%= link_to 'All', workouts_path %>
            </li>
            <% exercises.each do |name| %>
              <li class="<%= 'is-active' if name == @exercise.try(:name) %>">
                <%= link_to name, workouts_path(exercise: name) %>
              </li>
            <% end %>
          </ul>
        </div>
        <table class="table is-striped">
          <thead>
            <tr>
              <th><abbr title="Routine"></abbr>Routine</th>
              <th><abbr title="Date"></abbr>Date</th>
              <th><abbr title="Body weight"></abbr>Body weight</th>
              <% if @exercise.present? %>
                  <th><abbr title="<%= @exercise.name %>"></abbr><%= @exercise.name %></th>
              <% else %>
                <% exercises.each do |exercise_name| %>
                  <th><abbr title="<%= exercise_name %>"></abbr><%= exercise_name %></th>
                <% end %>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @workouts.each do |workout| %>
              <tr>
                <td> <%= workout.name %> </td>
                <td> <%= I18n.l workout.occurred_at, format: :short %> </td>
                <td> <%= workout.body_weight.to(:lbs) %> lbs </td>
              <% if @exercise.present? %>
                  <td>
                    <% progress = workout.progress_for(@exercise) %>
                    <%= progress.status %>
                  </td>
              <% else %>
                <% exercises.each do |exercise_name| %>
                  <td>
                    <% progress = workout.progress_for(Exercise.find_by(name: exercise_name)) %>
                    <%= progress.status %>
                  </td>
                <% end %>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <%= paginate @workouts, remote: false %>
      </div>
    </div>
  </div>
<% else %>
  <%= render partial: 'import_address_modal' %>
<% end %>

