<div class="row">
  <div class="small-12 columns">
    <%= form_for @workout do |f| %>
      <fieldset>
        <legend><%= Workout.human_attribute_name(:body_weight) %></legend>
        <%= f.number_field :body_weight %>
      </fieldset>
      <% @workout.exercise_sets.group_by(&:exercise).each do |exercise, exercise_sets| %>
          <fieldset>
            <legend><%= exercise.name %></legend>
            <% exercise_sets.each.with_index(1) do |set, index| %>
              <%= f.fields_for :exercise_sets, set do |s| %>
                <fieldset>
                  <legend>Set <%= index %></legend>
                  <div class="row">
                    <div class="small-6 columns">
                      <%= s.label :target_repetitions %>
                      <%= s.number_field :target_repetitions %>
                    </div>

                    <div class="small-6 columns">
                      <%= s.label :target_weight %>
                      <%= s.number_field :target_weight %>
                    </div>
                  </div>
                  <%= s.hidden_field :exercise_id %>
                </fieldset>
              <% end %>
            <% end %>

            <%= f.hidden_field :routine_id %>
          </fieldset>
      <% end %>
      <%= f.hidden_field :routine_id %>
      <%= f.submit "Start", class: "button round right" %>
    <% end %>
  </div>
</div>
