<div class="container" data-autovue="login-view">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <%= form_for @user, url: sessions_path do |f| %>
        <p class="control has-icon">
          <%= f.text_field :username, placeholder: t('.username'), class: 'input is-large', required: 'required' %>
          <span class="icon is-small">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
        <p class="control has-icon">
          <%= f.password_field :password, placeholder: t('.password'), class: 'input is-large', required: 'required' %>
          <span class="icon is-small">
            <i class="fa fa-lock"></i>
          </span>
        </p>
        <p class="control">
          <%= f.submit t('.login_button'), class: "button is-success is-large is-fullwidth"  %>
          <%= link_to t('.register_link'), new_registration_path, class: "button is-link is-pulled-right" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
