<div class="row align-center">
<%= form_for @user, url: registrations_path do |f| %>
  <div class="columns">
    <label><%= t('.username') %>
      <%= f.text_field :username, placeholder: t('.username') %>
    </label>
    <label><%= t('.email') %>
      <%= f.email_field :email, placeholder: t('.email') %>
    </label>
    <label><%= t('.password') %>
      <%= f.email_field :password, placeholder: t('.password') %>
    </label>
    <div class="text-center">
      <%= f.label :terms_and_conditions do %>
        <%= f.check_box :terms_and_conditions %> 
        <%= t('.terms_and_conditions') %>.
        <p><a data-open="terms_modal"><%= t('.terms_and_conditions_link') %></a></p>
      <% end %>
    </div>
    <%= f.submit t('.register_button'), class: "button"  %>
    <%= link_to t('.login_link'), new_session_path, class: "button secondary bare" %>
  </div>
<% end %>
</div> <!-- /.row -->
<div id="terms_modal" class="reveal" data-reveal>
  <%= render 'layouts/terms_content' %>
  <button class="close-button" data-close aria-label="<% t('.close') %>" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
