<div class="container">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <%= form_for @user, url: registrations_path do |f| %>
        <p class="control has-icon">
          <%= f.text_field :username, placeholder: t('.username'), class: 'input is-large', required: 'required' %>
          <span class="icon is-small">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
        <p class="control has-icon">
          <%= f.email_field :email, placeholder: t('.email'), class: 'input is-large', required: 'required' %>
          <span class="icon is-small">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
        <p class="control has-icon">
          <%= f.password_field :password, placeholder: t('.password'), class: 'input is-large', required: 'required' %>
          <span class="icon is-small">
            <i class="fa fa-lock"></i>
          </span>
        </p>
        <%= f.label :terms_and_conditions do %>
          <%= f.check_box :terms_and_conditions, required: 'required' %>
          <%= t('.terms_and_conditions') %>
        <% end %>
        <button id="terms-modal" type="button" class="button is-link"><%= t('.terms_and_conditions_link') %></button>
        <p class="control">
          <%= f.submit t('.register_button'), class: "button is-success is-large"  %>
          <%= link_to t('.login_link'), new_session_path, class: "button is-large" %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete"></button>
      </header>
      <section class="modal-card-body">
        <div class=content>
          <%= render 'layouts/terms_content' %>
        </div>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-success">Okay</a>
      </footer>
    </div>
  </div>
</div>

<% content_for :javascript do %>
$(function(){
  $('#terms-modal').click(function(){
    $('.modal').addClass('is-active');
  });

  $('.delete').click(function(){
    $('.modal').removeClass('is-active');
  });
});
<% end %>
