<div class="row">
<%= form_for @user, url: registrations_path do |f| %>
  <div class="small-12 columns">
    <label><%= t('.username') %>
      <%= f.text_field :username, placeholder: t('.username') %>
    </label>
  </div> <!-- /.small-12 -->
  <div class="small-12 columns">
    <label><%= t('.email') %>
      <%= f.email_field :email, placeholder: t('.email') %>
    </label>
  </div> <!-- /.small-12 -->
  <div class="small-12 columns">
    <label><% t('.password') %>
      <%= f.password_field :password, placeholder: t('.password') %>
    </label>
  </div> <!-- /.small-12 -->
  <div class="small-12 columns">
    <%= f.label :terms_and_conditions do %>
      <%= f.check_box :terms_and_conditions %> 
      <%= t('.terms_and_conditions') %>  <a href="#" data-reveal-id="terms_modal"><%= t('.terms_and_conditions_link') %></a>.
    <% end %>
  </div> <!-- /.small-12 -->
  <div class="small-12 columns">
    <%= f.submit t('.register_button'), class: "button"  %>
    <p><%= link_to t('.login_link'), new_session_path, class: "button ternary" %></p>
  </div> <!-- /.small-12 -->
<% end %>
</div> <!-- /.row -->
<div id="terms_modal" class="reveal-modal" data-reveal>
  <%= render 'layouts/terms_content' %>
  <a class="close-reveal-modal">&#215;</a>
</div>
