<div class="row">
<%= form_for @user, url: root_path do |f| %>
    <div class="small-12 columns">
      <label>Username
        <%= f.text_field :username, placeholder: "Username" %>
      </label>
    </div> <!-- /.small-12 -->
    <div class="small-12 columns">
      <label>Email
        <%= f.email_field :email, placeholder: "Email" %>
      </label>
    </div> <!-- /.small-12 -->
    <div class="small-12 columns">
      <label>Password
        <%= f.password_field :password, placeholder: "Password" %>
      </label>
    </div> <!-- /.small-12 -->
    <div class="small-12 columns">
      <%= f.submit "Register", class: "button"  %>
    </div> <!-- /.small-12 -->
<% end %>
</div> <!-- /.row -->
