<div id="sendToStrongLiftsModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle"><%= t('.title') %></h2>
  <p class="lead"><%= t('.lead') %></p>

  <p><%= raw t('.blurb') %></p>
  <div class="row">
    <div class="large-8 columns">
      <p><%= text_field_tag :import_address, current_user.import_address %></p>
    </div>
    <div class="large-4 columns">
      <button class="button clipboard-button" data-clipboard-target="#import_address">
        <i class="fa fa-copy"></i> <%= t('.copy') %>
      </button>
    </div>
  </div>
  <p class="text-center"><%= mail_to(current_user.import_address, User.human_attribute_name(:import_address)) %></p>
  <% if current_user.default_time_zone? %>
    <div class="panel">
      <p><i class="fa fa-warning"></i><%= link_to t('.warning'), edit_profile_path(current_user.profile) %></p>
    </div>
  <% end %>

  <div class="flex-video widescreen vimeo">
    <iframe width="420" height="315" src="https://www.youtube-nocookie.com/embed/vVowk0wSiwY?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="text-center">
    <%= link_to t('.help'), stronglifts_export_path %>
    <i class="fa fa-question-circle"></i>
  </p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
