<tr>
  <td>
    <%= link_to training_session.workout, program_path(training_session.program, anchor: training_session.workout) %>
  </td>
  <td><%= I18n.l training_session.occurred_at, format: :short %></td>
  <td><%= training_session.body_weight %> lbs</td>
  <td>
  <% training_session.exercises.each do |exercise| %>
    <strong><%= exercise.name %></strong> @ <%= training_session.progress_for(exercise).max_weight %> lbs,
  <% end %>
  </td>
  <td> <%= link_to "edit", edit_training_session_path(training_session) %> </td>
</tr>
