<% if @training_sessions.any? %>
  <div class="row">
    <% if current_user.chosen_time_zone? %>
      <p class="text-center"> <a href="#" data-reveal-id="sendToStrongLiftsModal"><%= User.human_attribute_name(:import_address) %></a> </p>
    <% end %>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
          <td></td>
          <td>Date</td>
          <td>Weight</td>
          <td></td>
          </tr>
        </thead>
        <tbody>
          <%= render @training_sessions %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="large-12 text-center columns">
      <%= paginate @training_sessions, remote: false %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="large-12 columns">
      <% if current_user.chosen_time_zone? %>
        <p class="text-center"> <a href="#" data-reveal-id="sendToStrongLiftsModal"><%= User.human_attribute_name(:import_address) %></a> </p>
      <% end %>
      <%= random_video %>
    </div>
  </div>
<% end %>

<div id="sendToStrongLiftsModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Send-to-Stronglifters.</h2>
  <p class="lead">Your custom email address.</p>

  <p>This is your custom email address for sending CSV exports to from the StrongLifts 5x5 mobile application.</p>
  <div class="row">
    <div class="large-8 columns">
      <p><%= text_field_tag :import_address, current_user.import_address %></p>
    </div>
    <div class="large-4 columns">
      <button class="button" data-clipboard-target="#import_address"><i class="fa fa-copy"></i></button>
    </div>
  </div>
  <p class="text-center"><%= mail_to(current_user.import_address, User.human_attribute_name(:import_address)) %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
