<% if @training_sessions.any? %>
  <div class="row">
    <div class="large-12 columns">
      <% if feature_available?(:csv_import) %>
      <p class="text-center"> <a href="#" data-reveal-id="sendToStrongLiftsModal"><%= User.human_attribute_name(:import_address) %></a> </p>
      <% end %>
      <table>
        <thead>
          <tr>
          <td></td>
          <td>Date</td>
          <td>Weight</td>
          <td></td>
          <td></td>
          </tr>
        </thead>
        <tbody>
          <%= render @training_sessions %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="large-12 text-center columns">
      <%= paginate @training_sessions, remote: false %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="large-12 columns">
      <% if feature_available?(:csv_import) %>
      <p class="text-center"> <a href="#" data-reveal-id="sendToStrongLiftsModal"><%= User.human_attribute_name(:import_address) %></a> </p>
      <% end %>
      <%= random_video %>
    </div>
  </div>
<% end %>

<%= render partial: 'import_address_modal' %>
