<div class="row">
  <div class="small-12 columns">
    <%= form_for @training_session do |f| %>
      <fieldset>
        <legend><%= TrainingSession.human_attribute_name(:body_weight) %></legend>
        <%= f.number_field :body_weight %>
      </fieldset>
      <% @training_session.exercise_sessions.each do |exercise_session| %>
        <%= f.fields_for :exercise_sessions, exercise_session do |e| %>
          <fieldset>
            <legend><%= e.object.exercise.name %></legend>
            <% exercise_session.exercise_sets.each.with_index(1) do |set, index| %>
              <%= e.fields_for :exercise_sets, set do |s| %>
                <fieldset>
                  <legend>Set <%= index %></legend>
                  <div class="row">
                    <div class="small-6 columns">
                      <%= s.label :target_repetitions %>
                      <%= s.number_field :target_repetitions %>
                    </div>

                    <div class="small-6 columns">
                      <%= s.label :target_weight %>
                      <%= s.number_field :target_weight %>
                    </div>
                  </div>
                </fieldset>
              <% end %>
            <% end %>

            <%= e.hidden_field :exercise_workout_id %>
          </fieldset>
        <% end %>
      <% end %>
      <%= f.hidden_field :workout_id %>
      <%= f.submit "Start", class: "button round right" %>
    <% end %>
  </div>
</div>
