<div class="row">
  <div class="small-12 columns">
    <%= form_for @training_session do |f| %>
      <fieldset>
        <legend><%= TrainingSession.human_attribute_name(:body_weight) %></legend>
        <%= f.number_field :body_weight %>
      </fieldset>
        <%= f.fields_for :exercise_sessions do |e| %>
          <fieldset>
            <legend><%= e.object.exercise.name %></legend>
            <%= e.label :sets %>
            <%= e.number_field :sets %>

            <%= e.label :repetitions %>
            <%= number_field_tag :repetitions, e.object.exercise_workout.repetitions, disabled: true %>

            <%= e.label :target_weight %>
            <%= e.number_field :target_weight %>
            <%= e.hidden_field :exercise_workout_id %>
          </fieldset>
      <% end %>
      <%= f.hidden_field :workout_id %>
      <%= f.submit "Start", class: "button round right" %>
    <% end %>
  </div>
</div>
