<div class="row">
  <!-- Side Bar -->
  <div class="large-4 small-12 columns">
    <div class="hide-for-small panel">
      <div class="row">
        <%= form_for(@item, url: new_item_path, method: :get) do |f| %>
          <div class="small-12 columns">
            <label><%= t('.item_name') %>
              <%= f.text_field :name %>
            </label>
          </div> <!-- /.small-12 -->
          <div class="small-12 columns">
            <%= f.submit t('.new_item_button'), class: 'button' %>
          </div> <!-- /.small-12 -->
        <% end %>
      </div>
    </div>

    <a href="#">
      <div class="panel callout radius">
        <h6>99  items in your cart</h6>
      </div>
    </a>
  </div>
  <!-- End Side Bar -->

  <!-- Thumbnails -->
  <div class="large-8 columns">
    <div class="row">
      <% if @items.any? %>
        <% @items.each do |item| %>
          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/1000x1000&text=Thumbnail">

            <div class="panel">
              <h5><%= item.name %></h5>
              <h6 class="subheader"><%= number_to_currency item.purchase_price %></h6>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="small-12 columns">
          <h1>Your inventory is empty</h1>
          <%= link_to 'New Item', new_item_path %>
        </div>
      <% end %>
    </div>
    <!-- End Thumbnails -->
    </div>
  </div>
</div>
