<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @item.serial_number %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @item.purchase_price %>
</p>

<p>
  <strong>Purchased at:</strong>
  <%= @item.purchased_at %>
</p>

<%= link_to t(".edit_button"), edit_item_path(@item) %>
<button class="small delete_stub"><%= t(".delete_button")%></button>
<%= form_for @item, method: :delete, html: { class: "delete_form" } do |f| %>
  <%= f.submit t(".delete_confirm"), class: "small alert button" %>
  <button class="small secondary button cancel" type="button"><%= t(".cancel_button")%></button>
<% end %>
