<div class="content is-large">
  <p> <%= t('.blurb_html') %> </p>
  <p> <%= text_field_tag :import_address, current_user.import_address, class: 'input is-large' %> </p>
  <button class="button clipboard-button" data-clipboard-target="#import_address">
    <i class="fa fa-copy"></i> <%= t('.copy') %>
  </button>
  <p> <%= mail_to(current_user.import_address, User.human_attribute_name(:import_address)) %> </p>
  <% if current_user.default_time_zone? %>
    <p> <i class="fa fa-warning"></i> <%= link_to t('.warning'), edit_profile_path(current_user.profile) %> </p>
  <% end %>
</div>

<iframe width="560" height="560" src="https://www.youtube-nocookie.com/embed/vVowk0wSiwY?rel=0" frameborder="0" allowfullscreen></iframe>
