<table class="hover stack">
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @gyms.each do |gym| %>
    <tr>
      <td><%= gym.new_record? ? gym.name : link_to(gym.name, gym_path(gym)) %></td>
      <td>
        <%= gym.full_address %>
        <%= link_to gym.map_url do %>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        <% end %>
      </td>
      <td>
        <% if gym.new_record? && !gym.duplicate? %>
          <%= form_for(gym) do |form| %>
            <%= form.hidden_field :name %>
            <%= form.hidden_field :yelp_id %>
            <%= form.fields_for :location do |location_form| %>
              <%= location_form.hidden_field :address %>
              <%= location_form.hidden_field :city %>
              <%= location_form.hidden_field :region %>
              <%= location_form.hidden_field :country %>
              <%= location_form.hidden_field :postal_code %>
            <% end %>
            <%= form.submit t(:add), class: "button tiny" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @gyms, remote: true %>
