<table>
  <% @gyms.each do |gym| %>
    <tr>
    <td><%= gym.name %></td>
    <td><%= gym.location.try(:address) %>, <%= gym.location.try(:city) %>, <%= gym.location.try(:region) %>, <%= gym.location.try(:country) %></td>
    <td><%= link_to t('.view_map'), gym.location.try(:url) %></td>
  </tr>
<% end %>
</table>
