<table>
  <% @gyms.each do |gym| %>
    <tr>
    <td><%= gym.name %></td>
    <td><%= gym.location.try(:address) %>, <%= gym.location.try(:city) %>, <%= gym.location.try(:region) %>, <%= gym.location.try(:country) %></td>
    <td>
      <%= link_to gym.location.try(:url) do %>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
