<% content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <h1><%= t(".title") %></h1>
    <table>
      <% @gyms.each do |gym| %>
        <tr>
        <td><%= gym.name %></td>
        <td><%= gym.location.address %>, <%= gym.location.city %>, <%= gym.location.region %>, <%= gym.location.country %></td>
        <td><%= link_to t('.view_map'), gym.location.url %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
