<% content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<div class="row">
  <div class="columns">
    <h1><%= t(:search) %></h1>
    <%= form_tag gyms_path(source: 'yelp'), method: :get, remote: true do %>
      <%= hidden_field_tag :city, current_session.location.try(:city) %>
      <% ["gyms", "stadiumsarenas"].each do |category| %>
        <%= hidden_field_tag 'categories[]', category %>
      <% end %>
      <%= hidden_field_tag :per_page, 10 %>
      <%= hidden_field_tag :source, 'yelp' %>
      <%= search_field_tag :q, params[:q], placeholder: t(:search) %>
      <%= submit_tag t(:search), class: "button" %>
    <% end %>
    <div id="results"></div>

    <h1><%= t(".title") %></h1>
    <%= form_for(@gym) do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>
      <%= form.fields_for :location do |location_form| %>
        <%= location_form.label :address %>
        <%= location_form.text_field :address %>
        <%= location_form.label :city %>
        <%= location_form.text_field :city %>
        <%= location_form.label :region %>
        <%= location_form.text_field :region %>
        <%= location_form.label :country %>
        <%= location_form.select :country, @countries %>
        <%= location_form.label :postal_code %>
        <%= location_form.text_field :postal_code %>
      <% end %>
      <%= form.submit t(:save), class: 'button' %>
    <% end %>
  </div>
</div>
