<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? "Strong Lifters | #{yield(:title)}" : "Strong Lifters" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" charset="utf-8">
      $(function(){ $(document).foundation(); });
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/flash' %>
    <div class="row">
      <div class="large-12 columns">
      <!-- Navigation -->
        <div class="row">
          <div class="large-12 columns">
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                  <svg viewBox="0 0 82.515 266.693">
                    <use xlink:href="<%= asset_path "sprite.svg#feather" %>"></use>
                  </svg>
                  <h1><%= link_to "Strong Lifters", dashboard_path %></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
              </ul>
              <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                  <li class="divider"></li>
                  <li class="has-dropdown">
                    <a href="#">Main Item 1</a>
                    <ul class="dropdown">
                      <li><label>Section Name</label></li>
                      <li class="has-dropdown">
                        <a href="#" class="">Has Dropdown, Level 1</a>
                        <ul class="dropdown">
                          <li><a href="#">Dropdown Options</a></li>
                          <li><a href="#">Dropdown Options</a></li>
                          <li><a href="#">Level 2</a></li>
                          <li><a href="#">Subdropdown Option</a></li>
                          <li><a href="#">Subdropdown Option</a></li>
                          <li><a href="#">Subdropdown Option</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Dropdown Option</a></li>
                      <li><a href="#">Dropdown Option</a></li>
                      <li class="divider"></li>
                      <li><label>Section Name</label></li>
                      <li><a href="#">Dropdown Option</a></li>
                      <li><a href="#">Dropdown Option</a></li>
                      <li><a href="#">Dropdown Option</a></li>
                      <li class="divider"></li>
                      <li><a href="#">See all →</a></li>
                    </ul>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Main Item 2</a></li>
                  <li class="divider"></li>
                  <li class="has-dropdown">
                    <a href="#"><%= gravatar_for(@current_user, size: 16) %> <%= @current_user.username %></a>
                    <ul class="dropdown">
                      <li><%= link_to "Training Sessions", training_sessions_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Log Out", session_path('me'), method: :delete %></li>
                    </ul>
                  </li>
                </ul>
              </section>
            </nav>
            <!-- End Top Bar -->
          </div>
        </div>
      <!-- End Navigation -->
      <%= yield %>
      <!-- Footer -->
        <footer class="row">
          <div class="large-12 columns"><hr />
            <div class="row">
              <div class="large-6 columns">
                <p>&copy; Copyright no one at all. Go to town.</p>
              </div>
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="https://twitter.com/StrongLifters/">Twitter</a></li>
                  <li><a href="https://github.com/stronglifters">Github</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      <!-- End Footer -->
      </div>
    </div>
  </body>
</html>
