<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= t('.title') %> <%= content_for?(:title) ? "| #{yield(:title)}" : "" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "https://apis.google.com/js/api.js" %>
    <%= javascript_include_tag "https://apis.google.com/js/client.js" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <!-- off-canvas title bar for 'small' screen -->
        <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvas"></button>
            <span class="title-bar-title"><%= t('.title') %></span>
          </div>
        </div>

        <!-- off-canvas left menu -->
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
          <ul class="vertical dropdown menu" data-dropdown-menu>
            <% if feature_enabled?(:gym) %>
            <li> <%= search_form %> </li>
            <li><%= link_to t(".gyms"), gyms_path %></li>
            <% end %>
            <li><%= link_to t(".nav.user.workouts"), workouts_path %></li>
            <li><%= link_to t(".nav.user.profile_edit"), edit_profile_path(current_user) %></li>
            <li><%= link_to t(".nav.user.profile_view"), profile_path(current_user) %></li>
            <li><%= link_to t(".nav.user.log_out"), session_path('me'), method: :delete %></li>
          </ul>
        </div>

        <!-- "wider" top-bar menu for 'medium' and up -->
        <div id="widemenu" class="top-bar">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text"><%= t('.title') %></li>
              <li class="has-submenu">
                <a href="#"><%= gravatar_for(current_user, size: 16) %> <%= current_user.username %></a>
                <ul class="menu submenu vertical" data-submenu>
                  <li><%= link_to t(".nav.user.workouts"), workouts_path %></li>
                  <li><%= link_to t(".nav.user.profile_edit"), edit_profile_path(current_user) %></li>
                  <li><%= link_to t(".nav.user.profile_view"), profile_path(current_user) %></li>
                  <li><%= link_to t(".nav.user.log_out"), session_path('me'), method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <% if feature_enabled?(:gym) %>
              <li> <%= search_form %> </li>
              <li><%= link_to t(".gyms"), gyms_path %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>
          <!-- start main content -->
          <div class="row column">
            <%= render partial: 'layouts/flash' %>
            <div class="align-middle loading-indicator hide">
              <p><i class="fa fa-spinner fa-pulse"></i> <%= t('.loading') %></p>
            </div>
            <% yield %>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tellus egestas ex facilisis pellentesque. Mauris sit amet iaculis magna. Morbi eu imperdiet eros. Quisque tempus at libero non vulputate. Maecenas tempus lorem eget faucibus suscipit. Cras blandit consectetur leo ut cursus. Praesent posuere aliquam cursus. Nam ut velit quis massa iaculis hendrerit. Vestibulum fermentum facilisis augue at facilisis. Fusce feugiat tempus enim quis aliquet. In quis sollicitudin nisl.</p>
            <p>Donec mollis dui velit, quis iaculis turpis sollicitudin id. Nullam a nulla nec nisi molestie suscipit at a massa. Nam vel fermentum justo. Donec pellentesque lorem vel laoreet posuere. Sed dignissim placerat elementum. Pellentesque pretium efficitur viverra. Aliquam iaculis tellus maximus gravida scelerisque.</p>
            <p>Donec sagittis, lectus quis convallis eleifend, enim nisl ultrices est, feugiat viverra quam dui eget lorem. Suspendisse aliquam dolor libero, et bibendum purus ultricies nec. Phasellus ac ante massa. Praesent mollis massa vel hendrerit efficitur. Donec hendrerit dignissim ultrices. Quisque vulputate efficitur venenatis. Donec quis nulla in dolor fermentum dignissim. Sed ullamcorper ligula est, vitae venenatis erat bibendum ultricies. Sed laoreet orci vitae sodales cursus. Nunc et vehicula turpis, rhoncus tempor diam. Ut vitae lobortis sem. Morbi faucibus turpis at magna fermentum ornare.</p>
          </div>
          <footer class="row">
            <div class="columns"><hr />
              <div class="row">
                <div class="columns">
                  <p><%= t("footer.copyright") %></p>
                </div>
                <div class="columns">
                  <ul class="inline-list right">
                    <li><a href="https://twitter.com/Stronglifters/">Twitter</a></li>
                    <li><a href="https://github.com/stronglifters">Github</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
          <!-- end main content -->
        </div>

      <!-- close wrapper, no more content after this -->
      </div>
    </div>
  </body>
</html>
