<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= t('.title') %> <%= content_for?(:title) ? "| #{yield(:title)}" : "" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "https://apis.google.com/js/api.js" %>
    <%= javascript_include_tag "https://apis.google.com/js/client.js" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <!-- off-canvas title bar for 'small' screen -->
        <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvas"></button>
            <span class="title-bar-title">Foundation</span>
          </div>
        </div>

        <!-- off-canvas left menu -->
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
          <ul class="vertical dropdown menu" data-dropdown-menu>
            <% if feature_enabled?(:gym) %>
            <li> <%= search_form %> </li>
            <li><%= link_to t(".gyms"), gyms_path %></li>
            <% end %>
            <li><%= link_to t(".nav.user.workouts"), workouts_path %></li>
            <li><%= link_to t(".nav.user.profile_edit"), edit_profile_path(current_user) %></li>
            <li><%= link_to t(".nav.user.profile_view"), profile_path(current_user) %></li>
            <li><%= link_to t(".nav.user.log_out"), session_path('me'), method: :delete %></li>
          </ul>
        </div>

        <!-- "wider" top-bar menu for 'medium' and up -->
        <div id="widemenu" class="top-bar">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text">Foundation</li>
              <li class="has-submenu">
                <a href="#"><%= t(".nav.user.workouts") %></a>
                <ul class="menu submenu vertical" data-submenu>
                  <li><%= link_to t(".nav.user.workouts"), workouts_path %></li>
                  <li><%= link_to t(".nav.user.profile_edit"), edit_profile_path(current_user) %></li>
                  <li><%= link_to t(".nav.user.profile_view"), profile_path(current_user) %></li>
                  <li><%= link_to t(".nav.user.log_out"), session_path('me'), method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <% if feature_enabled?(:gym) %>
              <li> <%= search_form %> </li>
              <li><%= link_to t(".gyms"), gyms_path %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>
          <!-- start main content -->
          <div class="row column">
            <%= render partial: 'layouts/flash' %>
            <div class="align-middle loading-indicator hide">
              <p><i class="fa fa-spinner fa-pulse"></i> <%= t('.loading') %></p>
            </div>
            <% yield %>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <ul>
              <%= link_to t(".title"), dashboard_path %>
              <% if feature_enabled?(:gym) %>
              <li> <%= search_form %> </li>
              <li><%= link_to t(".gyms"), gyms_path %></li>
              <% end %>
              <li>
                <a href="#"><%= gravatar_for(current_user, size: 16) %> <%= current_user.username %></a>
                <ul>
                  <li><%= link_to t(".nav.user.workouts"), workouts_path %></li>
                  <li><%= link_to t(".nav.user.profile_edit"), edit_profile_path(current_user) %></li>
                  <li><%= link_to t(".nav.user.profile_view"), profile_path(current_user) %></li>
                  <li><%= link_to t(".nav.user.log_out"), session_path('me'), method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
          <footer class="row">
            <div class="columns"><hr />
              <div class="row">
                <div class="columns">
                  <p><%= t("footer.copyright") %></p>
                </div>
                <div class="columns">
                  <ul class="inline-list right">
                    <li><a href="https://twitter.com/Stronglifters/">Twitter</a></li>
                    <li><a href="https://github.com/stronglifters">Github</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
          <!-- end main content -->
        </div>

      <!-- close wrapper, no more content after this -->
      </div>
    </div>
  </body>
</html>
