<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Strong Lifters" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <script type="text/javascript" charset="utf-8">
      $(function(){ $(document).foundation(); });
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= render partial: 'layouts/flash' %>
    <header>
      <div class="row">
        <div class="small-12 columns text-center">
          <h1>Strong <span class="svg-container"><%= image_tag "sprite.svg#feather", alt: "Strong Lifters", class: "feather" %></span>Lifters</h1>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
